<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Quiz</title>
    <link rel="stylesheet" href="/TP-pw2-MiniPreguntados/app/view/estilo/preguntasEstilo.css">

</head>
<body>
    <div class="container">
        <div class="quiz-container">
            <div class="question-card">
                <h2>{{pregunta}}</h2>
            </div>
           <form action="index.php?page=PartidaController&action=validarRespuesta" method="POST">
            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="1">
                    <span>{{opcion1}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="2">
                    <span>{{opcion2}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="3">
                    <span>{{opcion3}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="4">
                    <span>{{opcion4}}</span>
                </label>
            </div>




                            <button class="btn btn-primary" type=submit>Enviar</button>
            </form>
              <div class="button-container">
                            <button class="btn btn-secondary">Reportar pregunta</button>
                            <button class="btn btn-secondary">Usar trampa</button>
                            <button class="btn btn-secondary">Comprar trampa</button>
                        </div>
        </div>
    </div>
</body>
</html>