<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Quiz</title>
    <link rel="stylesheet" href="/TP-pw2-MiniPreguntados/app/view/estilo/preguntasEstilo.css">

</head>
<body onload="mostrarFondo('{{categoria}}')">
    <div class="container">
        <div class="quiz-container">
            <div class="question-card">
                <h2>{{pregunta}}</h2>
            </div>
            <h2>{{categoria}}</h2>
            <h2>aa: {{Es_correcta}}</h2>

            <form action="index.php?page=Partida&action=validarRespuesta" method="POST">

          <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">
          <input type="hidden" name="id_partida" value="{{id_partida}}">

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="{{opcion1}}">
                    <span>{{opcion1}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="{{opcion2}}">
                    <span>{{opcion2}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="{{opcion3}}">
                    <span>{{opcion3}}</span>
                </label>
            </div>

            <div class="answer-card">
                <label>
                    <input type="radio" name="answer" value="{{opcion4}}">
                    <span>{{opcion4}}</span>
                </label>
            </div>
                            <button class="btn btn-primary" type=submit>Enviar</button>

                <div  style="display: none;" onload="mostrarModal({{Es_correcta}})">
                   <div class="modal-content">
                       <h2>¡Respuesta Correcta!</h2>
                       <p>Serás redirigido a la ruleta...</p>
                   </div>
               </div>
               <div id="{{Es_correcta}}" class="modal {{Es_correcta}}" style="display: none;" onload="mostrarModal({{Es_correcta}})">
                   <div class="modal-content">
                       <h2>¡Perdiste!</h2>
                       <p>Serás redirigido al inicio...</p>
                       <button onclick="redirectToHome()">Aceptar</button>
                   </div>
               </div>


           </form>
              <div class="button-container">
                            <button class="btn btn-secondary">Reportar pregunta</button>
                            <button class="btn btn-secondary">Usar trampa</button>
                            <button class="btn btn-secondary">Comprar trampa</button>
                        </div>
        </div>
    </div>



    <script src="/TP-pw2-MiniPreguntados/app/view/js/preguntaPartida.js" defer></script>

</body>
</html>